<div class="mat-elevation-z1 header">
  <md-icon color="warn" class="header-icon">note_add</md-icon>
  <div class="header-text">
    Welcome to < name >!
    <br>
    <button md-raised-button routerLink="/login" color="warn">Login</button>
    <button md-raised-button routerLink="/register" color="warn">Register</button>
  </div>
</div>

<div class="mat-elevation-z2 features">
  <div class="mat-elevation-z3 feature">
    <md-icon class="feature-icon">flash_on</md-icon>
    <br>
    <span class="feature-text">Fast</span>
  </div>
  <div class="mat-elevation-z3 feature">
    <md-icon class="feature-icon">lock</md-icon>
    <br>
    <span class="feature-text">Secure</span>
  </div>
  <div class="mat-elevation-z3 feature">
    <md-icon class="feature-icon">cloud_circle</md-icon>
    <br>
    <span class="feature-text">Open Source</span>
  </div>
</div>
