<div class="container">
  <div class="mat-elevation-z3 form-container">
    <h3 style="color: #ffffff">Please login to continue</h3>
    <form>
      <md-input-container class="inp" color="warn">
        <input mdInput placeholder="Name">
      </md-input-container>
      <br>
      <md-input-container class="inp" color="warn">
        <input mdInput placeholder="Username">
      </md-input-container>
      <br>
      <md-input-container class="inp" color="warn">
        <input mdInput placeholder="Email" type="email">
      </md-input-container>
      <br>
      <md-input-container class="inp" color="warn">
        <input mdInput placeholder="Password" type="password">
      </md-input-container>
      <br>
      <md-input-container class="inp" color="warn">
        <input mdInput placeholder="Confirm Password" type="password">
      </md-input-container>
      <br><br>
      <button md-raised-button color="warn">Login</button>
    </form>
  </div>
</div>
