.container {
  padding-top: 74px;
  width: 100%;
  height: 89%;
  color: #ffffff;
  background: #FFC400;
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-container {
  background: #2962FF;
  align-self: center;
  justify-self: center;
  width: 33%;
  margin: 20px;
  padding: 30px;
}

.inp {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .form-container{
    width: 100%;
  }
}
